---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Override theme defaults */
$base-font-family: "Open Sans", sans-serif;
// $brand-color: #05AD10;

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Custom CSS: */
p {
  text-align: justify;
}

.site-header {
  border-top: 0;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  margin-top: 15px;
}

.work-experience-title {
  display: grid;
  grid-template-columns: 30px 10px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "marker separator title";
  margin: 0;
  margin-bottom: 20px;

  .marker {
    grid-area: marker;
    background-color: gray;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 10px;
  }

  .title {
    grid-area: title;
    margin: 0;

    .post-title {
      font-size: 1.3em;
      line-height: 1.3em;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;

      .post-insitution {
        font-size: 1em;
        font-style: italic;
        font-weight: normal;
      }
    }

    .post-dates {
      font-size: 1em;
      color: gray;
      font-weight: lighter;
      margin: 0;
    }
  }
}

.work-experience-description {
  margin: 0;
  margin-bottom: 50px;
}

.about-me-title {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr;
  grid-template-areas: "title image";

  .title {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2.625rem;
      letter-spacing: -1px;
      line-height: 1.15;
      grid-area: title;
      margin: 0;
    }
  }

  .image {
    grid-area: image;
    height: auto;
    width: 100%;
    border-radius: 50%;
    max-width: none;
  }
}

@media screen and (max-width: 400px) {
  .about-me-title {
    grid-template-columns: 1fr 100px;
  }
}

.project-title {
  display: grid;
  grid-template-columns: 30px 10px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "marker separator title";
  margin: 0;
  margin-bottom: 20px;

  .marker {
    grid-area: marker;
    background-color: #969696;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 10px;
  }

  .title {
    grid-area: title;
    margin: 0;

    .title-text {
      font-size: 1.3em;
      line-height: 1.3em;
      font-weight: bold;
      margin: 0;
      margin-bottom: 5px;

    }

    .link-badge {
      font-size: 16px;
      line-height: 16px;
      font-weight: normal;
      background-color: #bbbbbb;
      padding: 0px 5px;
      border-radius: 5px;
      text-decoration: none;
      color: #181818;
      margin: 0;
      margin-left: 5px;
    }

    .link-badge:hover {
      background-color: #969696;
    }

    .doi-badge {
      .doi-label {
        background-color: #404040;
        padding: 0px 5px;
        border-radius: 5px 0px 0px 5px;
        color: white;
        margin: 0;
        margin-right: 5px;
      }

      padding: 0px;
      padding-right: 5px;
      border-radius: 10px 5px 5px 10px;
      margin-left: 0px;
    }

    .project-date {
      font-size: 1em;
      color: gray;
      font-weight: lighter;
      margin: 0;
      margin-bottom: 5px;
    }

    .project-authors {
      font-size: 1em;
      font-weight: lighter;
      margin: 0;
      margin-bottom: 5px;
    }
  }
}

.project-description {
  margin: 0;
  margin-bottom: 50px;
}
