---
---
/* Override theme defaults */
$base-font-family: 'Open Sans', sans-serif;
$brand-color: #FF0000;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */

/*h1 {
  padding-bottom: 2px;
  color: blue;
} */
