---
---
/* Override theme defaults */
$base-font-family: 'Open Sans', sans-serif;
$brand-color: #FF0000;

/* load _sass/minima.scss */
@import "minima";

/* Custom CSS: */
p {
  text-align:justify
} 
