---
layout: default
---

<article class="post">
  <header class="post-header">
    <div class="about-me-title">
      <div class="title"><h1>Bernat Frangi</h1></div>
      <img class="image"
        src="https://avatars.githubusercontent.com/u/82199014?v=4"
      />

    </div>
    
    <!-- <div style="display: inline-block">
    </div>
    <div
      style="
        display: inline-block;
        vertical-align: bottom;
        padding-left: 30px;
        float: right;
      "
    >
    </div> -->
  </header>

  {{content}}
</article>
