---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">Welcome!</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    
    <p>Hello! My name is <em>Bernat Frangi Mahiques</em>, and I am an Undergraduate at the the <a href="https://www.uc3m.es/Home">Carlos III University</a> (Madrid, Spain) studying a <a href="https://www.uc3m.es/bachelor-degree/physics-industrial">Double Bachelor Degree in Physics Engineering and Industrial Technologies Engineering</a>. In these pages you will find information about my background and my work: projects, experience, achievements and more!</p>

    <p>I would like to introduce myself by saying that I am a nature enthusiast as well as everything else, and I often like to go on long hikes in the <em>Pyrenees</em> or in the <em>Sierra de Madrid</em>. The reason? Well...in the words of <em>Albert Einstein</em>:</p>


    <blockquote>
      <p>Look deep into nature, and then you will understand everything better.</p>
      <strong> Albert Einstein</strong></p>
    </blockquote>

    <p>I find motivation in knowing that nature will always have something new to teach, whether about physics, philosophy or simply life! You just have to be willing, attentive and patient enough to find out what that is.</p>

    <p>Please, enjoy!</p>

    <p>If you are interested, you can find the source code for this site on <em>GitHub</em>: <a href="https://github.com/bfrangi">bfrangi</a> / <a href="https://github.com/bfrangi/bfrangi.github.io">bfrangi.github.io</a>.</p>

    <!-- <details>
      <summary>Posts</summary>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </details> -->
  </div>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%} -->

</div>